<header>
  <nav>
    {% for item in site.nav %}
    <a href="{{ item.url }}">{{ item.label }}</a>
    {% endfor %}
  </nav>
  <a class="undecorated" href="/">
    <img src="{{ site.logo }}" class="avatar i-flex" size="50x50" alt="Tasos Sangiotis profile picture">
  </a>
  <p class="txt--x-small txt--subtle txt--uppercase txt--normal txt--spread flush--top">
    {{site.title}}
  </p>
  {% if site.description %}
  <p class="txt--xx-small txt--subtle txt--normal txt--spread flush--top">{{site.description}}</p>
  {% endif %}
</header>