<article class="post push_double--bottom">


  <header>
    <div class="post__title">
      <span class="txt--x-small align--center flush--top push_quarter--bottom txt--subtle">
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %d, %Y" }}</time>
        {% if page.lang == 'el' %} &middot; 🇬🇷{% endif %}{% if page.remote %} &middot; 🔗{% endif %}
      </span>
      <h2 class="flush--top">
        <a class="undecorated" href="{{ page.url }}">{{ page.title }}</a>
      </h2>
    </div>
  </header>

  <div class="post__content">
    {% if page.url == "/" %}
    {% if page.excerpt %}
    {{ page.excerpt  | strip_html | truncatewords: 25 }}
    {% else %}
    {{ page.content | strip_html | truncatewords: 25 }}
    {% endif %}
    {% else %}
    {{ content }}
    {% endif %}
  </div>

</article>